.carousel-viewport:global(.is-draggable) {
  cursor: move;
  cursor: grab;
}

.carousel-viewport:global(.is-dragging) {
  cursor: grabbing;
}

.carousel-container {
  user-select: none;
}

.slide {
  flex: 0 0 auto;
  max-width: min(70%, 620px);
  opacity: 0.4;
  transition: opacity 0.4s;
}

.slide:global(.active) {
  opacity: 1;
}

.slide2 {
  flex: 0 0 auto;
  //width: auto;
  //max-width: 1200px;
  //max-width: min(70% , 1200px);
  //opacity: 0.4;
  transition: opacity 0.4s;
}

.slide2:global(.active) {
  opacity: 1;
}

.carousel__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.carousel__dots {
  @apply flex list-none justify-center pt-2.5;
}

.carousel__dot {
  @apply bg-transparent cursor-pointer relative p-0 outline-0 border-0 w-8 h-8
  mx-2 flex items-center;
}

.carousel__dot:after {
  @apply bg-[#6f6a65] w-full h-[4px] rounded-[2px] content-[''];
}

.carousel__dot.active:after {
  @apply bg-white opacity-100;
}
