.filters {
  //@apply laptop:sticky top-[12%] h-[57%];

  &__item {
    @apply mb-4;

    .filters__title {
      @apply mb-3 text-xl;
    }

    .filter__btn {
      @apply block relative text-[#6a6a6a] mb-[12px] w-full leading-6 text-left
      transition-all duration-200 ease-in-out;

      &.is-selected {
        padding-left: 18px;
        color: black;
      }

      &.is-selected::before {
        opacity: 1;
        transition-delay: .1s;
      }

      &::before {
        @apply absolute inline-block w-[6px] h-[6px] rounded-full opacity-0
        bg-[#1c1b1b] left-0 transition duration-100 ease-in-out ;
        content: "";
        top: calc(50% - 3px);
      }
    }


    .filters__colorBtn {
      @apply inline-block w-4 h-4 rounded-[50%] mr-2 border-none
      opacity-[0.5] flex relative items-center justify-center cursor-pointer;

      &--all {
        @apply relative rounded-full;
        background: conic-gradient(#B99374 90deg, #f3eed7 90deg, #cfcdcb 180deg, #7A6255 180deg, #f3eed7 270deg, #7A6255 270deg);
      }

      &--all.active::after, &--all:hover::after,
      &.active::after, &:hover::after {
        @apply absolute rounded-[50%] w-[1.625rem] h-[1.625rem] top-[-0.3rem] left-[-0.3rem];
        content: "";
        border: 0.0625rem solid #383633;
        box-shadow: 0 0.25rem 0.3125rem -0.125rem rgba(71, 69, 67, 0.3);
        transition: all 0.25s;
      }
    }
  }
}
