.backdrop {
  @apply w-full h-full fixed inset-0 z-30
  overflow-y-auto overflow-y-hidden
  backdrop-filter backdrop-blur-sm
  ;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
  @apply h-full bg-white fixed top-0 right-0 z-30
  w-screen md:w-[450px];
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  transform: translateX(110%);
  transition: transform 0.3s ease-out;

  &.open {
    transform: translateX(0);
  }

  &__container {
    @apply flex flex-col w-full h-full ;
  }

  &__header {
    @apply flex justify-between items-center py-6 md:py-4
    px-5
    h-[4%] md:h-[4.8%] lg:h-[7.3%] desktop:h-[5.8%] ;
    h1 {
      @apply text-base font-black ;
      //@apply text-xl md:text-2xl font-black ;
    }
  }

  &__body {
    @apply flex flex-col w-full pb-2 h-[84%] md:h-[87%] lg:h-[84%] desktop:h-[87%]  px-5 ;
  }

  &__footer {
    @apply flex flex-col w-full py-2 px-5 lg:py-0 max-h-[12%];
  }

  &__links {
    @apply flex flex-col mt-8 ;
  }

  &__dropdown {
    @apply flex justify-between cursor-pointer;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  &__suvlink {
    //@apply hidden w-4/5 border-l h-auto ml-[13%] mt-[5%] z-40  ;
    @apply block w-4/5 border-l h-auto ml-[13%] mt-[5%] z-40  overflow-hidden duration-300 ease-linear;
    ul {
      li {
        p {
          @apply text-[#ffffff80] px-4 mb-4;
        }
      }
    }
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}


