.menu {
  @apply relative inline-block text-left;
  .menu-dropdown {
    //px-4 py-2
    @apply inline-flex w-full justify-center rounded-md
    text-sm font-medium text-black
    animate focus-visible:ring-2 focus-visible:ring-white
    focus-visible:ring-opacity-75;
  }

  .menu-dropdown--dotIcon {
    @apply focus:outline-none inline-flex w-full justify-center rounded-md
    px-4 py-2 text-sm font-medium text-black hover:bg-gray-400 animate
    hover:bg-opacity-30 focus-visible:ring-2 focus-visible:ring-white
    focus-visible:ring-opacity-75;
  }

    //dark:bg-gray-custom-901
  .menu-items {
    @apply focus:outline-none absolute z-30
    right-0 mt-2 w-36 origin-top-right divide-y
    divide-gray-100 rounded-md bg-white
    shadow-lg ring-1 ring-black ring-opacity-5;

    //dark:text-gray-custom-500
    //dark:hover:bg-gray-custom-504
    &__item {
      @apply flex w-full items-center rounded-md p-2
      transition-all duration-200 ease-in-out
      text-sm
      dark:hover:text-white
      ;
    }
  }
}


.avatar-input {
  @apply flex-center flex-col;
  &__wrapper {
    @apply flex justify-center border-2 border-dotted rounded-full text-gray-300 w-1/2 h-48;
  }

  &__upload {
    @apply rounded-full drop-shadow-md  bg-transparent w-fit lg:w-[94%];
  }

  &__image {
    @apply flex items-center justify-center w-full cursor-pointer ;
    input {
      @apply opacity-0 w-full absolute inset-0 z-30;
    }

    img {
      @apply w-full rounded-full h-[11.4rem] pt-[5px];
    }
  }


  &__placeholder {
    @apply flex-center bg-gray-100 content-center flex-col absolute rounded-full top-[3px] right-0 h-[95%] w-full;
    i {
      @apply text-2xl text-gray-400 group-hover:text-gray-600;
    }

    p {
      @apply text-gray-500 text-base;
    }
  }

  &__notice {
    @apply mt-4 text-xs text-gray-500 w-1/2 text-center leading-4;
  }
}
