//dark:bg-gray-custom-901
//border-gray-custom-500

.table-container {
  @apply min-w-full w-[5px]
  rounded-lg p-4 laptop:drop-shadow-xl
  rounded-[19px]
  bg-white

  border-[0.4px]
  dark:border-0

  laptop:border-gray-custom-50;
}

.table-wrapper {
  @apply overflow-x-auto laptop:overflow-visible ;

  .table {
    @apply min-w-full ;

    thead {
      //@apply sticky top-0;
      @apply top-0;
      th {
        //dark:border-gray-custom-901 dark:bg-gray-custom-901
        //dark:text-gray-custom-906;
        @apply
        bg-gray-custom-50
        py-3 px-6 text-xs font-medium tracking-wider
        hover:bg-gray-custom-52 animate cursor-pointer
        text-gray-700 uppercase
      }

      th:first-child {
        border-radius: 12px 0 0 12px;
      }

      th:last-child {
        border-radius: 0 12px 12px 0;
      }
    }

    tbody {
      @apply min-h-[400px] overflow-y-auto
      lg:overflow-x-visible;

      //dark:bg-gray-custom-901
      tr {
        @apply bg-white  ;
        //@apply bg-white dark:bg-black ;
        //@apply bg-white dark:bg-black hover:bg-gray-custom-50 hover:rounded-2xl;
        td {
          @apply py-4 px-6 text-sm text-gray-900
          whitespace-nowrap dark:text-white;
        }
      }
    }
  }
}

.pagination {

  @apply md:px-4 mt-4 flex items-center justify-between ;

  &__left {
    @apply flex gap-x-8;
  }

  &__right {
    @apply flex items-center gap-x-10;
  }

  &__entries {
    @apply flex items-center ;

  }

  &__buttons {
    @apply flex items-center;

    //dark:bg-gray-custom-901 dark:hover:bg-gray-custom-502
    button {
      @apply flex-center rounded-xl
      bg-gray-custom-50 hover:bg-gray-custom-52
      h-[36px] w-[36px]  animate
      cursor-pointer dark:text-white mx-[2px] p-[9px];
    }

    //@apply text-gray-custom-499;
    button.disabled {
    }

    button.selected {
      @apply bg-black text-white dark:bg-white dark:text-black hidden md:inline-flex
    }
  }

}
