.table-container {
  @apply min-w-full w-[5px]
  rounded-lg p-4 laptop:drop-shadow-xl
  rounded-[19px]
  bg-white

  border-[0.4px]
  dark:border-0

  laptop:border-gray-custom-50;
}

.table-wrapper {
  //@apply overflow-x-auto laptop:overflow-visible ;
  @apply overflow-x-auto ;

  .table {
    @apply min-w-full ;
    //min-height: 280px;

    thead {
      //@apply sticky top-0;
      @apply top-0;
      th {
        //dark:border-gray-custom-901 dark:bg-gray-custom-901
        //dark:text-gray-custom-906;

        //py-3 px-6 text-xs font-bold tracking-wider
        @apply
        bg-gray-custom-50 h-10
        px-6 text-xs font-bold tracking-wider
        hover:bg-gray-custom-52 animate cursor-pointer
        text-gray-700 uppercase
      }

      th:first-child {
        border-radius: 12px 0 0 12px;
      }

      th:last-child {
        border-radius: 0 12px 12px 0;
      }
    }

    tbody {
      @apply min-h-[400px] overflow-y-auto
      lg:overflow-x-visible;

      //dark:bg-gray-custom-901
      tr {
        td {
          @apply py-1  px-6 text-gray-900
          whitespace-nowrap dark:text-white;
          font-size: 0.875rem;
          height: 38px;
        }

      }

      th,
      td {
        padding:5px 8px;
      }
      tr:hover th,
      tr:hover td {
        @apply bg-gray-custom-50 cursor-pointer;
      }

      tr:hover th {
        border-radius:12px 0 0 12px;
      }

      tr:hover td:first-child {
        border-radius:12px 0 0 12px;
      }
      tr:hover td:last-child {
        border-radius:0 12px 12px 0;
      }
    }
  }
}

.pagination {

  @apply md:px-4 mt-4 flex items-center justify-between ;

  &__left {
    @apply flex gap-x-8;
  }

  &__right {
    @apply flex items-center gap-x-10;
  }

  &__entries {
    @apply flex items-center ;

  }

  &__buttons {
    @apply flex items-center;

    button {
      @apply flex-center rounded-xl
      bg-gray-custom-50
      disabled:text-[#c8ced2]
      h-9 w-9 animate
      cursor-pointer dark:text-white mx-0.5 p-2;
    }

    button.selected {
      @apply bg-black text-white bg-primary-black dark:bg-white dark:text-black  md:inline-flex
    }
  }

}
