@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Eina";
    src: url("/fonts/Eina.otf");
  }

  @font-face {
    font-family: "Eina Light";
    src: url("/fonts/Eina-Light.otf");
  }

  @font-face {
    font-family: "Eina SemiBold";
    src: url("/fonts/Eina-SemiBold.otf");
  }

  @font-face {
    font-family: "Eina Bold";
    src: url("/fonts/Eina04-Bold.otf");
  }


  p, h1, h2, h3, h4, h5, label, span, a {
    @apply text-primary-black;
  /*//@apply text-black-primary;*/
  /*//color: rgba(0, 0, 0, .8);*/
  /*//color: #1c1b1b;*/
    font-family: Eina;
  }

  .layout {
    max-width: 120rem;
    @apply mx-auto w-11/12;
  /*//@apply mx-auto w-11/12 px-4 tablet:px-8 desktop:px-16;*/
  }

  .bg-product {
    @apply bg-gray-custom-50 hover:bg-light-200 rounded-lg;
  }

  .cursor-newTab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .animate {
    @apply transition-all duration-500 ease-in-out;
  }
}

/*html,*/
/*body {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
/*    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
/*}*/

/*a {*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/
