.form-checkbox-input {
  @apply flex items-center ;

  label {
    margin-top: 3px;
    @apply text-sm inline-block text-gray-700 cursor-pointer;
  }

  input {
    @apply appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white
    checked:bg-black checked:border-black focus:outline-none transition duration-200
    focus:ring-2 focus:ring-black
    align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;

  }
}
