.form-input {
  @apply mb-4 w-full;
  .input {
    @apply relative w-full;

    &__contentLeft {
      @apply flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none;
    }

    &__contentRight {
      @apply flex absolute inset-y-0 right-0 items-center pr-3 pointer-events-none;

      //dark:text-gray-custom-900
      .clear-icon {
        @apply h-6 w-6 text-[#939393]
        hover:text-[#111111]
        dark:hover:text-white
        transition-all duration-500 ease-in-out;
      }
    }

    label {
      @apply text-base text-gray-700 dark:text-white;
    }

    input {
      @apply
      theme-input
      w-full appearance-none
      text-gray-900 text-xs lg:text-sm
      h-[42px]
      dark:bg-[#16161a]
      dark:border-0 dark:text-white;
    }
  }
}
