.form-select-input {
  @apply relative mb-4;

  &__title {
    @apply block text-base font-medium text-gray-700;
  }

  &__btn {
    height: 42px;
    @apply
    theme-input
    relative
    text-sm
    w-full
    cursor-pointer
    pl-3 pr-10 tablet:pr-8 text-left
    dark:bg-black dark:text-white
    ;
  }

  &__options {
    @apply absolute z-30 mt-1
    w-full max-w-[14rem]
    max-h-[300px]
    p-[4px]
    bg-white
    shadow-lg
    rounded-md py-1 text-base ring-1 ring-black
    ring-opacity-5 overflow-auto focus:outline-none text-sm
    dark:bg-black dark:text-white
    ;
  }
}

