#our-ql {
  border: none;
  min-width: 100%;
  padding: 0 !important;
  //border: gray!important;
}

.ql-toolbar {
  border-radius: 4px 4px 0 0;
  //border: 1px solid ${color.borderLightest};
  border-bottom: none !important;
}

.ql-container.ql-snow {
  //border: 1px solid #e4e6ea !important;
  border-radius: 0 0 4px 4px;
  //border: none;
  font-size: 15px;
}

.ql-editor {
  min-width: 100%;
  padding: 7px 8px !important;
  min-height: 110px;
}
