@tailwind base;

@import "src/assets/styles/core/input";
@import "src/assets/styles/core/table";
@import "src/assets/styles/core/dropdown";
@import "src/assets/styles/core/dialog";
@import "src/assets/styles/core/button";
@import "src/assets/styles/core/drawer";
@import "src/assets/styles/core/stepper";
@import "src/assets/styles/core/badge";
@import "src/assets/styles/core/animate";

@import "src/assets/styles/components/header";
@import "src/assets/styles/components/footer";
@import "src/assets/styles/components/chatbox";
@import "src/assets/styles/components/product-card";
@import "src/assets/styles/components/filters";
@import "src/assets/styles/components/carousel";
@import "src/assets/styles/components/about";
@import "src/assets/styles/components/feedback";
@import "src/assets/styles/components/dialog/detail-order-dialog";

@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Eina";
    src: url("/fonts/Eina.otf");
  }

  @font-face {
    font-family: "Eina Light";
    src: url("/fonts/Eina-Light.otf");
  }

  @font-face {
    font-family: "Eina SemiBold";
    src: url("/fonts/Eina-SemiBold.otf");
  }

  @font-face {
    font-family: "Eina Bold";
    src: url("/fonts/Eina04-Bold.otf");
  }

  * {
    scrollbar-width: thin;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }


  /* #region  /**=========== Default Typography =========== */
  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  body,
  .body {
    @apply text-sm md:text-base;
  }

  p, h1, h2, h3, h4, h5, label, span, a {
    @apply text-primary-black;
    color: rgba(0, 0, 0, .8);
    font-family: Eina, serif;
  }
  /* #endregion  /**======== Default Typography =========== */

  .layout {
    max-width: 120rem;
    @apply mx-auto w-11/12;
  }

  .bg-product {
    @apply bg-gray-custom-50 hover:bg-light-200 rounded-lg;
  }

  .theme-input {
    //@apply bg-gray-custom-52a focus:bg-white
    @apply bg-[#f7f7f7] focus:bg-white
    border border-solid border-gray-300 hover:border-black
    rounded-md placeholder-gray-500
    transition duration-200 ease-in-out
    focus:ring-black focus:border focus:border-black focus:outline-none
  }

  .cursor-newTab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .animate {
    @apply transition transform duration-500 ease-in-out;
  }

  .backdrop {
    @apply w-full h-full fixed inset-0 z-[31]
    overflow-y-auto overflow-y-hidden
    backdrop-filter backdrop-blur-sm;
    background-color: rgba(0, 0, 0, 0.5);
  }
}


.te12 {
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 5%, rgb(0, 0, 0) 94%, rgba(0, 0, 0, 0) 100%);
}
